.header {
    height: 100vh;
}

.header-top__title {
    font-weight: normal;
    color: rgb(33, 87, 133);
    font-weight: 300;
    line-height: 1.2;
}

.header-content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 600;
}

.header-top {
    padding-top: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header-dog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/dog.png');
    background-repeat: no-repeat;
    background-position: top 0% left 25%;
    // background-size: 50%;
    z-index: 200;
    .container {
        position: relative;
    }
}

.header-content__tablet {
    padding-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.header-bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    background-image: url('../img/bg-worms.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content__bottom {
    margin-top: 57px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.substrate__text {
    font-size: 18px;
    font-weight: 300;
}

.header-content__icons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 525px;
    width: 100%;
    .icons__item-icon {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        cursor: pointer;
    }
    .icons__item-text {
        margin-top: 7px;
        font-size: 18px;
        color: #cf491e;
        text-align: center;
    }
}

.header-arrow {
    position: absolute;
    top: 489px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.header-arrow-text {
    position: absolute;
    top: 523.672px;
    left: 0;
    font-size: 30px;
    color: #ffffff;
    line-height: 40px;
    line-height: 2;
}

.header-arrow__blue-text {
    color: #215785;
}

.header-arrow-2 {
    position: absolute;
    right: 0;
    top: 410px;
}

.icons__item {
    width: 33%;
}

.header-content__mobile-arrow {
    display: none;
}

@media (max-width: 1500px) {
    .header-dog {
        background-size: 90%;
        background-position: -50px 40px;
    }
    .header-arrow-text {
        left: 15px;
        top: 515px;
        line-height: 2;
    }
}

@media (max-width: 1200px) {
    .header-dog {
        background-size: 90%;
        background-position: -66px 75px;
    }
    .header-arrow-text {
        top: 504px;
    }
}

@media (max-width: 992px) {
    .header-dog {
        background-size: 93%;
        background-position: -130px 92px;
    }
    .header-content__tablet {
        img {
            width: 355px;
        }
    }
    .header-arrow {
        top: 469px;
    }
    .header-arrow-text {
        top: 485px;
        left: 20px;
        font-size: 24px;
        line-height: 35px;
    }
}

@media (max-width: 768px) {
    .header-bg {
        background-image: none;
        background-color: #ececec;
    }
    .gray-text {
        padding-top: 0;
    }
    .icons__item-icon img {
        width: 65px;
    }
    .header-arrow-2 {
        display: none;
    }
    .header-arrow-text {
        left: 15px;
        top: 467.062px;
    }
    .header-arrow {
        top: auto;
        bottom: 325px;
        width: 100%!important;
        // display: none;
    }
    .header-dog .container {
        position: static;
    }
    .header-arrow-text {
        top: auto;
        bottom: 285px;
    }
    .header-content__mobile-arrow {
        display: block;
        position: absolute;
        bottom: 325px;
        left: 0px;
        right: 0px;
        img {
            width: 100vw;
        }
    }
    .header-content__bottom {
        margin-top: 113px;
    }
    body {
        overflow: auto;
    }
    .header {
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    .header-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .header-content {
        padding: 12px 0px;
        height: auto;
    }
    .header-top {
        padding: 0;
        flex-direction: row-reverse;
    }
    .header-top__title {
        max-width: 130px;
        font-weight: 300;
        font-size: 15px;
    }
    .header-top__logo img {
        width: 131px;
    }
    .header-dog {
        background-image: url(../img/mobile-bg.png);
        background-position: 32% 55px;
        background-size: 100%;
    }
    .header-bg {
        background-repeat: repeat;
    }
    .header-content__tablet {
        padding-top: 73%;
        display: flex;
        align-items: center;
        padding-left: 40px;
        img {
            width: 70%;
        }
    }
    .header-content__substrate {
        display: none;
    }
    .header-content__bottom {
        flex-wrap: wrap;
        margin-top: 150px;
    }
    .header-content__icons {
        padding-top: 30px;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .icons__item {
        width: 50%;
    }
    .icons__item span {
        display: block;
    }
    .header-content {
        padding-bottom: 12px;
    }
    .header-arrow-text {
        padding-top: 12px;
        line-height: 2;
    }
}

@media (max-width: 600px) {
    .header-arrow-text {
        padding-top: 0;
        line-height: 2;
        bottom: 272px;
    }
}

@media (max-width: 460px) {
    .header-content__icons {
        padding-top: 100px;
    }
    .header-content__bottom {
        flex-wrap: wrap;
        margin-top: 100px;
    }
    .header-arrow {
        bottom: 400px;
    }
    .header-arrow-text {
        font-size: 18px;
        bottom: 362px;
    }
    .icons__item:nth-child(3) {
        margin-top: 25px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-height: 867px) {
    .header-top {}
    .header-dog {}
    .header-top__logo {
        img {
            width: 240px;
        }
    }
    .header-content__tablet {
        padding-top: 80px;
        img {
            width: 400px;
        }
    }
    .header-arrow-text {
        top: 450px;
    }
    .header-arrow {
        top: 430px;
    }
    .header-arrow-2 {}
    .header-content__bottom {}
}

@media (min-width: 768px) and (max-height: 750px) {
    .header-top__logo {
        img {
            width: 200px;
        }
    }
    .header-content__bottom {
        margin-top: 40px;
    }
    .header-content__tablet {
        img {
            width: 350px;
        }
    }
    .header-arrow-text {
        top: 390px;
    }
    .header-arrow {
        top: 370px;
    }
    .header-dog {
        background-position: top 32% left 25%;
        background-size: 60%;
    }
}

@media (min-width: 768px) and (max-height: 665px) {
    .header-top {
        padding-top: 25px
    }
    .header-dog {
        background-position: top 32% left 25%;
        background-size: 60%;
    }
    .header-top__logo {
        img {
            width: 200px;
        }
    }
    .header-content__tablet {
        padding-top: 100px;
        padding-right: 30px;
        img {
            width: 300px;
        }
    }
    .header-arrow-text {
        top: 330px;
    }
    .header-arrow {
        top: 310px;
    }
    .header-arrow-2 {
        top: 270px;
    }
    .header-content__bottom {
        margin-top: 40px;
    }
}