.special__indication {
    padding-top: 54px;
}

.special-mobile {
    display: none;
}

.indication__item-img {
    img {
        width: 100%;
    }
}

.indication__item-text {
    text-align: center;
    margin-bottom: 35px;
    height: 70px;
    line-height: 1.2;
}

.indication__item.bottom {
    margin-top: 56px;
    position: relative;
    &::before {
        content: 'Кормящим';
        position: absolute;
        top: 76px;
        left: 112px;
        font-size: 24px;
        font-family: "Roboto";
        line-height: 1.2;
    }
}

@media (max-width: 768px) {
    .special {
        display: none;
    }
    .special-mobile {
        display: block;
        background-color: #ececec;
        .section-title {
            margin-top: 0;
            padding-top: 50px;
        }
    }
    .special-mobile__inner {
        padding-top: 25px;
    }
    .special-mobile__inner-item {
        width: 100%;
        padding-bottom: 40px;
    }
    .special-mobile__inner-image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
        }
    }
    .special-mobile__inner-text {
        text-align: center;
        font-size: 18px;
        font-family: "Roboto";
        color: rgb(102, 102, 102);
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-height: 910px) {
    .special {
        .container {
            max-width: 900px;
        }
        // img {
        //     height: 20vh;
        // }
    }
    .indication__item.bottom::before {
        top: 30px;
    }
    .indication__item-text {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-height: 750px) {
    .special {
        .container {
            max-width: 700px;
        }
    }
    .indication__item-text {
        font-size: 22px;
    }
    .special__indication {
        padding-top: 30px;
    }
}

@media (min-width: 768px) and (max-height: 700px) {
    .special {
        .container {
            max-width: 600px;
        }
    }
    .indication__item-text {
        font-size: 18px;
    }
    .indication__item.bottom::before {
        top: 15px;
        left: 50px;
    }
}